@model LoginViewModel

<h1>Login</h1>
<form method="post" asp-controller="Login" asp-action="Index">

  
  
 

<div>
        Username:  <input type="text" asp-for="userName"/>
</div>
    <br />
    <div>
        Password:  <input type="text" asp-for="password" />
    </div>


    <br/>

 

    <div>

     <button type="submit">Login</button>
    </div>

</form>
